/****************** TAG SELECTORS ***********************/
/* APPLIED TO SAME TIPE ELEMENTS*/
body{
  background-color: #6ba8a9;
  color: #263f44;
  font-family: Archivo;
  padding: 10px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #e5dfdf;
  border-width: 5px;
  width: 30%;
}
h1{
  color: #222831;
}
h3{
  background-color: #1d4d4f;
  border-style: solid;
  border-radius: 30px;
  border-color: #1d4d4f;
  font-family: sans-serif;
  color: white;
}

/****************** CLASS SELECTORS ***********************/
/* IT CAN BE USED ON MANY ELEMENTS OF DE HTML */
.work-image{
  border-radius: 10px;
}
.experience-data{
  background-color: #ffffff44;
  border-radius: 30px;
}

/****************** ID SELECTORS ***********************/
/* IT CAN BE USED ONLY IN ONE ELEMENT OF DE HTML */
#ppicture{
  border-radius: 100%;
}
#tbackground{
  background-size: 100%;
}
#pdescription{
  background-color: #ffffff44;
  border-radius: 30px;
}
#thabilities{
  background-color: #ffd08244;
  border-radius: 30px;
  cellspacing: 10px;
}
