/****************** TAG SELECTORS ***********************/
/* APPLIED TO SAME TIPE ELEMENTS*/
body{
  background-color: #6ba8a9;
  color: #263f44;
  font-family: system-ui;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #e5dfdf;
  border-width: 5px;
  width: 30%;
}
h1{
  color: #222831;
}
h3{
  background-color: #1d4d4f;
  border-style: solid;
  border-radius: 30px;
  border-color: #1d4d4f;
  font-family: sans-serif;
  color: white;
}

table{
  cellspacing="10";
}
/****************** CLASS SELECTORS ***********************/
/* IT CAN BE USED ON MANY ELEMENTS OF DE HTML */
.work-image{
  border-radius: 10px;
}

/****************** ID SELECTORS ***********************/
/* IT CAN BE USED ONLY IN ONE ELEMENT OF DE HTML */
#profile-picture{
  border-radius: 100%;
}

#table-background{
  background-image: url(https://lh3.googleusercontent.com/proxy/wy9DT-beqZhZ8XJJpmmBkurgHHH5gXYv2PRMrCnZgp_e-uOj-fiW9qqQRJAYCF6oatG6TT-CPKs_2ZBZ6VsfcpRTJwgKOR4vzpGTONqehWPcQRmG3lZa-PD5TK1bYg47uRAVUtX-C-c0cooTWsxtkc8);
  background-repeat: no-repeat;
  background-size: 100%;
}

#profile-description{
  background-color: RGBA( 255 , 255 , 255, 0.8 );
  border-radius: 30px;
}
